<div class="font-inter bg-cover bg-no-repeat h-[calc(100vh-80px)] text-lg"
 style="background-image: url(../../../assets/final.jpg);" >
  <div class="container p-5 flex items-center justify-center flex-col h-full mx-auto ">

    <!-- -------------Search Field-------------- -->
    <div class="relative   w-[90%] md:w-[50%] mt-2 ">
      <input [(ngModel)]="searchString" (ngModelChange)="$searchInputs.next($event)"
        class="relative w-full p-3 z-40 border outline-none bg-transparent text-white backdrop-blur-md ring-1 ring-white placeholder-white overflow-hidden rounded-full"
        type="text" placeholder="Search employees...">
      <div class="absolute z-[100] right-7 top-[10px]">
        <i class="fa-solid text-white fa-magnifying-glass text-2xl"></i>
      </div>
    </div>

    <!-- ---------------Hero Part----------------->
    <div *ngIf="allEmployees"
      class="flex  overflow-y-scroll mt-5 md:mt-8 flex-wrap   w-[100%] h-[100%] justify-center items-center gap-2 md:gap-y-6 pt-1 md:gap-10">
      <div *ngFor="let emp of EmployeesList" [routerLink]="['/Emp',emp.id]"
        class="w-[19rem] backdrop-blur-lg hover:font-semibold bg-black/60 hover:bg-black text-white cursor-pointer shadow-lg  h-[23rem] rounded-lg flex flex-col justify-center items-center">
        <div
          class="bg-white w-full justify-center flex rounded-t-lg flex-col gap-4 items-center py-3">
          <img class="w-32 h-32 hover:scale-105 object-cover rounded-full" src="../../../assets/profile.png" alt="Pic">
          <div class="flex items-center flex-col justify-center">
            <p class="text-2xl text-[#536f12] font-medium">{{emp.empFirstName}}</p>
            <small class="text-blue-800">EmpId:{{emp.id}}</small>
          </div>
        </div>
        <div class="w-[90%] space-y-2  ">
          <div class="flex gap-2 w-full items-center mt-6">
            <span>Joing Date:</span>
            <span class="rounded-md">{{emp.empDateOfJoining}}</span>
          </div>
          <div class="flex gap-2 items-center my-1">
            <i class="fa-solid fa-envelope"></i>
            <p class="truncate">{{emp.empEmailId}}</p>
          </div>
          <div class="flex gap-2 items-center">
            <i class="fa-solid fa-phone"></i>
            <span>{{emp.empPhoneNumber}}</span>
          </div>
        </div>
      </div>
    </div>
    <button routerLink="/add"
      class="border-2 border-yellow-600 hover:bg-white text-green-600 shadow-2xl bg-slate-50 text-4xl p-2 sm:p-5 z-40 flex flex-col
      justify-center items-center absolute left-[3%] sm:left-auto sm:right-[10%] rounded-full bottom-[4%]">
      <i class="fa-solid fa-plus hover:scale-125"></i>
    </button>
  </div>
</div>
